<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Maintenance Page</title>
</head>
<body>
    <h1>Ooops! We are under maintencance</h1> 
    <p>Sorry, we'll back soon</p>
    <footer>2018</footer>
</body>
</html>